body{
    background-image: url(backgroundimage.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: aliceblue;
}
p{
    width: 50%;
    color: blanchedalmond;
    font-size: 17px;
    font-family: sans-serif;
    line-height: 1.5em;
    margin-top: 50px;
}

#img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}

#img2{
    width: 500px;
    height: 500px;
}

